html {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: linear-gradient(
    to right,
    black 0%,
    black 50%,
    #feda00 50%,
    #feda00 100%
  );
}

.main {
  height: 80%;
  margin: 5% 5%;
  background: linear-gradient(
    to right,
    #feda00 0%,
    #feda00 50%,
    black 50%,
    black 100%
  );
}
.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.name {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 50%;
  padding-right: 50px;
  padding-top: 0;
  z-index: 1;
}

.second-name {
  margin: 0;
  color: #fff;
  margin-left: 140px;
  height: 115px;
}

.first-name {
  color: black;
  margin: 0;
  height: 90px;
  padding-right: 100px;
}

.name p {
  font-size: 40px;
  margin: 0;
  padding-right: 135px;
}

.social-icons {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  height: 100%;
  align-items: flex-end;
  padding-left: 12%;
  padding-bottom: 10px;
}

.social-icons a {
  color: black;
  height: 60%;
  font-size: 50px;
  margin: 5px;
}

.navbar-custom {
  height: 100px;
}

.navbar-items {
  display: inline-block;
}

.navbar-items p {
  margin-left: 25%;
  margin-top: 15%;
  width: 70%;
}

.menu {
  position: absolute;
  padding-top: 25px;
  height: 60px;
  top: 7.5%;
  right: 10%;
  color: white;
}

.view-all {
  position: absolute;
  grid-column: 2;
  display: inline-block;
  background-color: #feda00;
  height: 75px;
  width: 250px;
  bottom: 7%;
  right: 2px;
  font-size: 30px;
}

.second-square {
  position: absolute;
  background-color: black;
  height: 60%;
  width: 50%;
  left: 42%;
  bottom: 20%;
  position: absolute;
}

.photos-grid {
  position: absolute;
  display: inline-block;
  top: 62%;
  right: -10%;
  width: 80%;
  height: 15%;
  padding-left: 140px;
}

.photo-1 {
  grid-column: 1;
  width: 200px;
  margin-right: 20px;
}

.photo-2 {
  grid-column: 2;
  width: 200px;
  margin-right: 20px;
}

.photo-3 {
  grid-column: 3;
  width: 200px;
  margin-right: 20px;
}

.photo-4 {
  grid-column: 4;
  width: 200px;
  margin-right: 20px;
}

.photo-5 {
  grid-column: 5;
  width: 200px;
  margin-right: 20px;
}

.photo-6 {
  grid-column: 6;
  width: 200px;
  margin: 0;
}

.header-text {
  display: grid;
  grid-template: repeat(2 1fr);
  grid-column: 2;
  font-size: 25px;
  z-index: 1;
  color: white;
}

.header-text p {
  grid-column: 2;
  width: 55%;
  margin-left: 23%;
  margin-top: 15%;
}

.header-image {
  grid-column: 1;
  width: 70%;
  margin-top: 10%;
}
